<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="../../assets/bootstrap.min.css"> -->
</head>

<body>
    <!-- <app-header></app-header> -->
    <section class="white-space">

        <div class="container">
            <div class="row">
                <div id="message_centre" class="container tab-pane fade"><br>
                    <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-8">
                        <h3 class="title">Today</h3>
                        <div class="alert-box d-flex mb-4" role="alert">
                          <div class="icon-col">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </div>
                          <div class="content-col">
                            <h4 class="heading">Great work!</h4>
                            <h3 class="subheading">You’ve completed your mastery for Anti-Slavery for today!</h3>
                            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
                          </div>
                          <div class="time-col">14:32</div>
                        </div>
                        <div class="alert-box d-flex mb-4" role="alert">
                          <div class="icon-col">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </div>
                          <div class="content-col">
                            <h4 class="heading">Topic update</h4>
                            <h3 class="subheading">You’ve completed your mastery for Anti-Slavery for today!</h3>
                            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
                            <button class="btn-dark">Action Text</button>
                          </div>
                          <div class="time-col">09:00</div>
                        </div>
                        <h3 class="title mt-4 mb-4">This week</h3>
                        <div class="alert-box d-flex mb-4" role="alert">
                          <div class="icon-col">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </div>
                          <div class="content-col">
                            <h4 class="heading">Action required</h4>
                            <h3 class="subheading">You’ve completed your mastery for Anti-Slavery for today!</h3>
                            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
                          </div>
                          <div class="time-col">Tuesday</div>
                        </div>
                        <h3 class="title mt-4 mb-4">Last week</h3>
                        <div class="alert-box d-flex mb-4" role="alert">
                          <div class="icon-col">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </div>
                          <div class="content-col">
                            <h4 class="heading">Welcome message</h4>
                            <h3 class="subheading">You’ve completed your mastery for Anti-Slavery for today!</h3>
                            <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.</p>
                            <button class="btn-dark">Action Text</button>
                          </div>
                          <div class="time-col">12 June</div>
                        </div>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                  </div>
            </div>
        </div>
        <div>
        </div>

    </section>
</body>